:root {
  --font-size: min(1.7vh, 2vw);
  --font-size-h1: calc(var(--font-size) * 8);
  --font-size-h2: calc(var(--font-size) * 5);
  --font-size-h3: calc(var(--font-size) * 3);
  --font-size-h4: calc(var(--font-size) * 2);
  --font-size-h5: calc(var(--font-size) * 1);
  --font-size-h6: calc(var(--font-size) * 1);
  --color-bg: white;
  --color-text: rgb(37, 38, 44);
  --color-panel: rgb(243, 243, 243);
  --color-primary: rgba(0, 97, 255, 1);
  --radius: 20px;
  --indent: 20px;
  --transition: 0.2s ease-in-out;
}


  /* COMMON */

  body {
    display: flex;
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    flex: auto;
  }

  /* WELCOME */

  .welcome__avatar {
    width: 30vw;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }


  .welcome__text {
    font-size: calc(var(--font-size) * 2 + .5vw + .5vh);
    display: inline-block;
  }

  .welcome__name {
    margin: 0;
  }

  .welcome__contacts {
    display: flex;
    gap: 1rem;
    margin-bottom: auto;
  }

  .welcome__contacts-link-img {
    height: 4rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer__copyright,
  .footer__language {
    font-size: max(1.5rem, 18px);
  }

  /* MOBILE */
  
  @media (max-aspect-ratio: 12/10) {
    body {
      flex-direction: column;
    }

    .welcome__avatar {
      height: 30vh;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

  }


html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  text-emphasis-color: var(--color-primary);
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1,
.h1-like {
  font-size: var(--font-size-h1);
}

h2,
.h2-like {
  font-size: var(--font-size-h2);
}

h3,
.h3-like {
  font-size: var(--font-size-h3);
}

p {
  max-width: 40em;
}

a, .a-like {
  text-decoration: none;
  color: var(--color-primary);
  box-sizing: content-box;
}

/* Appear */

.before-loaded {
  opacity: 0;
}