<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  <t data-t>name</t> | <t data-t>profession</t>
</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- OGP -->
<meta property="og:title" data-attr-t content-t="full_name" />
<meta property="og:url" data-attr-t content-t="url" />
<meta property="og:image" data-attr-t content-t="ogp_preview_href" />
<meta property="og:description" data-attr-t content-t="profession" />
<meta property="og:locale" data-attr-t content-t="ogp_locale" />
<meta property="og:site_name" data-attr-t content-t="full_name" />


<!-- STYLES -->
<link rel="stylesheet" href="/css/global.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap"
  rel="stylesheet" />