<section class="container" id="blog">
    <h2 class="section__header" data-aos="fade-right">
        <span class="material-icons">newspaper</span>
        Блог
    </h2>
    <p>
        Я люблю делиться с миром своими инсайтами и результатми своих
        исследований. Уверен, вы найдёте что-нибудь полезное для себя среди
        моих мыслей.
    </p>
    <ul class="blog__articles card-grid">
        <li class="card" data-aos="fade-up">
            <div class="card__preview">
                <div class="card__preview__img" style="
                  background-image: url('/img/projects/sgn.png');
                  background-size: 50px;
                "></div>
            </div>
            <div class="card__content">
                <h4 class="card__content__header">Курс Веб в МГТУ</h4>
                <p class="card__content__description">
                    Преподавательская практика магистра. Я перепроектировал с нуля
                    курс по вебу для второго курса аналитиков, добавив туда элементы
                    даты и внедрив формат командных проектов. Провел часть занятий,
                    курировал педагогов и проекты.
                </p>
                <div class="tags-list">
                    <span class="tag" data-value="web">Веб</span>
                    <span class="tag" data-value="ux-ui">UX/UI</span>
                    <span class="tag" data-value="data">Data</span>
                    <span class="tag" data-value="management">Менеджмент</span>
                    <span class="tag" data-value="education">Образование</span>
                </div>
                <div class="card__content__footer">
                    <time class="card__content__footer__caption" datetime="2018">01.12.2021</time>
                    <a class="learn-more-invitation" href="articles/10-проблем-в-архитектуре-Ангуляра.html">Читать
                        статью
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>