<footer id="contacts">
  <div class="container">
    <h2 data-aos="fade-right">
      <span class="material-icons">forum</span>
      <t data-t>contacts</t>
    </h2>
    <p>
      <t data-t>feel_free_to_contact</t>
    </p>
    <div class="section__content contacts__media">
      <a class="contacts__medium" target="_blank" href="https://t.me/sergsol">
        <img draggable="false" src="/img/media/telegram.png" alt="Telegram logo" />
      </a>
      <a class="contacts__medium" target="_blank" href="https://github.com/solovevserg">
        <img draggable="false" src="/img/media/github.png" class="github" alt="GitHub logo" />
      </a>
      <a class="contacts__medium" target="_blank" href="https://www.pinterest.ru/solovevserg/">
        <img draggable="false" src="/img/media/pinterest.png" alt="Pinterest logo" />
      </a>
      <a class="contacts__medium" target="_blank" href="https://instagram.com/serg.sol">
        <img draggable="false" src="/img/media/instagram.png" alt="Instagram logo" />
      </a>
    </div>
    <p>
      &copy; <a href="https://t.me/sergsol">
        <t data-t>name</t>
      </a>,
      <span id="this-year">2022</span>
    </p>
  </div>
</footer>