<footer id="contacts">
  <div class="container">
    <h2 data-aos="fade-right">
      <span class="material-icons">forum</span>
      Контакты
    </h2>
    <p>
      Я живу в Москве. Всегда готов выпить чашечку чая в кафе и обсудить
      очередной суперинновационный проект в сфере веб-разработки, анализа
      данных, социальных наук или образования 😉 Для общения предпочитаю
      Телеграм.
    </p>
    <div class="section__content contacts__media">
      <a class="contacts__medium" target="_blank" href="https://t.me/sergsol">
        <img
          draggable="false"
          src="/img/media/telegram.png"
          alt="Telegram logo"
        />
      </a>
      <a
        class="contacts__medium"
        target="_blank"
        href="https://github.com/solovevserg"
      >
        <img
          draggable="false"
          src="/img/media/github.png"
          class="github"
          alt="GitHub logo"
        />
      </a>
      <a
        class="contacts__medium"
        target="_blank"
        href="https://www.pinterest.ru/solovevserg/"
      >
        <img
          draggable="false"
          src="/img/media/pinterest.png"
          alt="Pinterest logo"
        />
      </a>
      <!-- <a
        class="contacts__medium"
        target="_blank"
        href="https://instagram.com/serg.sol"
      >
        <img
          draggable="false"
          src="/img/media/instagram.png"
          alt="Instagram logo"
        />
      </a> -->
    </div>
    <p>
      &copy; <a href="https://t.me/sergsol">Сергей Соловьев</a>,
      <span id="this-year">2021</span>
    </p>
  </div>
</footer>
