<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><t data-t>name</t> | <t data-t>profession</t></title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
<!-- <meta name="yandex-verification" content="cc884f2dc4cc2566"> -->

<!-- OGP -->
<meta property="og:title" content="Сергей Соловьев" />
<meta property="og:url" content="https://solovevserg.github.io/" />
<meta
  property="og:image"
  content="https://solovevserg.github.io/img/ogp-preview.png"
/>
<meta
  property="og:description"
  content="Фулстек-веб тимлид, аналитик, преподаватель."
/>
<meta property="og:determiner" content="the" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:locale:alternate" content="us_US" />
<meta property="og:site_name" content="Портфолио Сергея Соловьева" />

<!-- FONTS -->
<link rel="stylesheet" href="/css/global.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
