<nav>
  <div class="container nav-container">
    <h5 class="nav__caption">
      <a href="/">๐ฐ ะกะฐะนั ะกะตัะณะตั ะกะพะปะพะฒัะตะฒะฐ</a>
    </h5>
    <a target="_blank" href="https://t.me/sergsol">
      <img
        class="nav__medium__icon"
        draggable="false"
        src="/img/media/telegram.png"
        alt="Solovev Sergei in Telegram"
      />
    </a>
  </div>
</nav>
