<section class="container" id="process">
    <h2 class="section__header" data-aos="fade-right">
        <span class="material-icons">insights</span>
        Рабочий процесс
    </h2>
    <p>
        Отлаженный рабочий процесс показвыает уровень профессионализма и опыта
        человека или команды. Входя в новый проект, я в первую очередь
        проверяю, насколько настроен процесс и помогаю его наладить, если
        что-то не так.
    </p>
    <ol>
        <h4>Предварительный этап</h4>
        <li>Полное прояснение задачи и всех формулировок</li>
        <li>Предвариельный анализ, брейншторминг</li>
        <li>
            Формулировка требований, создание ТЗ и согласование с заказчиком
        </li>
        <h4>Начальный этап</h4>
        <li>
            Построение информационный структуры проекта (хранилища файлов, кода,
            чаты)
        </li>
        <li>
            Чёткое распределение зон ответственности уастников проекта, включая
            заказчика и третьих лиц
        </li>
        <li>Анализ бизнес-процессов объекта автоматизации, ЦА</li>
        <li>Формирование информационной модели предметной области</li>
        <li>Техническое проектирование решения</li>
        <h4>Основной этап</h4>
        <li>Поэтапная реализация решения в коде</li>
        <li>
            Непрерывное автоматизированное и ручное тестирование (функционал,
            производительность, удобство)
        </li>
        <li>Непрерывный выпуск и доставка текущих результатов заказчику</li>
        <h4>Завершающий этап</h4>
        <li>Поддержка и сопровождение</li>
        <li>Сбор обратной связи и анализ проекта</li>
        <li>
            Формулирование выводов и пополнение банка эталонных решений на
            основе проекта
        </li>
        <li>При необходимости штатное отключение системы</li>
    </ol>
</section>