// Button

button,
.button-like {
    backdrop-filter: blur(6px);
    // box-shadow: 4px 0 6px rgba(120, 120, 255, 0.479);
    background-color: #99f6;
    border: none;
    padding: 15px 25px;
    border-radius: var(--radius);
    font-size: 1em;
}

// Link

a {
    text-decoration: none;
}

// Headings

h1,
h2,
h3,
h4,
h5,
.h1-like,
.h2-like,
.h3-like,
.h4-like,
.h5-like {
}

h1,
.h1-like {
    font-weight: 900;
    font-size: 3em;
    &.thin {
        font-weight: 100;
    }
}

h2,
.h2-like {
    font-size: 2em;
}

h3,
.h3-like {
    font-size: 1.5em;
}

h4,
.h4-like {
    font-size: 1.25em;
}

h5,
.h5-like {
}

// Paragraph

p {
    line-height: 1.6em;
    max-width: 30em;
}
