<!DOCTYPE html>
<html data-attr-t lang-t="lang">

<head>
  <% include /_domain-redirect.ejs %>
  <% include /_head.ejs %>
</head>

<body class="welcome">
  <img class="welcome__avatar" draggable="false" src="/img/avatar-full.jpg" alt="Sergei Solovev" />
  <main>
    <p class="welcome__text">
      <t data-t>hello_everyone</t>
    </p>
    <h1 class="welcome__name">
      <t data-t>full_name</t><br>
    </h1>
    <p class="welcome__text">
      <t data-t>profession</t>
    </p>

    <div class="welcome__contacts">
      <a class="welcome__contacts-link" target="_blank"
        href="https://hh.ru/resume/78b19b1dff097442f70039ed1f666643556a49">
        <img class="welcome__contacts-link-img" draggable="false" src="/img/media/headhunter.svg" alt="HeadHunter" />
      </a>
      <a class="welcome__contacts-link" target="_blank" href="https://www.linkedin.com/in/solovevserg/">
        <img class="welcome__contacts-link-img" draggable="false" src="/img/media/linkedin.svg" alt="LinkedIn" />
      </a>
      <a class="welcome__contacts-link" target="_blank" href="https://t.me/sergsol">
        <img class="welcome__contacts-link-img" draggable="false" src="/img/media/telegram.svg" alt="Telegram" />
      </a>
      <a class="welcome__contacts-link" target="_blank" href="https://github.com/solovevserg">
        <img class="welcome__contacts-link-img" draggable="false" src="/img/media/github.svg" alt="GitHub" />
      </a>
    </div>

    <footer class="footer">
      <p class="footer__copyright">
        &copy; <t data-t>name</t>
        <t data-t>surname</t>, <span id="this-year">2023</span>
      </p>
      <p class="footer__language">
        <a href="/">En</a> /
        <a href="/ru">Ру</a>
      </p>
    </footer>
  </main>

  <% include /_scripts.ejs %>
  <% include /_page-fade-in-animation.ejs %>
</body>

</html>